@model IEnumerable<PoliGest.Models.HighFee>


<table class="table"  style="margin-inline: auto; color: lightgray;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDVerbale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataViolazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntiDecurtati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDAnagrafica)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="border-top: 0;">
            @Html.DisplayFor(modelItem => item.IDVerbale)
        </td>
        <td style="border-top: 0;">
            @Html.DisplayFor(modelItem => item.Importo)
        </td>
        <td style="border-top: 0;">
            @Html.DisplayFor(modelItem => item.DataViolazione)
        </td>
        <td style="border-top: 0;">
            @Html.DisplayFor(modelItem => item.PuntiDecurtati)
        </td>
        <td style="border-top: 0;">
            @Html.DisplayFor(modelItem => item.IDAnagrafica)
        </td>
        
    </tr>
}

</table>
