@model IEnumerable<PoliGest.Models.Verbale>

@{
    ViewBag.Title = "Verbali";
}

<h2>Tutti i Verbali</h2>

<p>
    @Html.ActionLink("Nuovo Verbale", "Anagrafiche")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataViolazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PuntiDecurtati)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comune)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDAnagrafica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Importo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataViolazione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PuntiDecurtati)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comune)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDAnagrafica)
        </td>
        <td>
            @Html.ActionLink("Contesta", "ContestaVerbale", new {  id=item.IDVerbale  })
            
            
        </td>
    </tr>
}

</table>
